@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --b1: #fff5db;
  --p1: #404040;
  --c1: #b5b5b5;
  --b2: #ffeab2;
  --b3: #ffe49a;
  --v1: #ae2012;
  --a1: #ee9b00;
}

html {
  height: 100%;
}

body {
  background-color: white;
  height: 100%;
  position: relative;
  font-family: Montserrat Alternates;
  background-color: var(--b1);
}

p {
  font-family: Montserrat Alternates;
}

.container {
  display: flex;
  justify-content: space-between;
}

.block1 {
  padding: 40px 20px;
}

.block2 {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  z-index: 1;
}

.homebtns {
  padding: 30px 20px;
  bottom: 0;
  background-color: var(--b1);
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.homebtns .homebtn {
  height: 48px;
  width: 48px;
  border: none;
  background-color: var(--b1);
}

.homebtns .homebtn svg {
  height: 100%;
  width: 100%;
}

.homebtn {
  position: relative;
}

.active::after {
  content: "";
  width: 70%;
  height: 3px;
  background-color: var(--p1);
  position: absolute;
  bottom: -10px;
  left: 15%;
  border-radius: 10px;
}

h2 {
  color: var(--accent-color);
  font-size: 28px;
  margin-bottom: 20px;
  text-align: center;
}

.matches-list {
  list-style-type: none;
}

.match-item {
  background-color: #ffffff;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.match-item:hover {
  background-color: #f7f7f7;
}

.match-item img {
  width: 100px;
  height: auto;
  border-radius: 5px;
  margin-right: 20px;
}

.match-info {
  flex: 1;
}

.match-info p {
  color: var(--secondary-text-color);
  margin-bottom: 10px;
}
