@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --b1: #fff5db;
  --p1: #404040;
  --c1: #b5b5b5;
  --b2: #ffeab2;
  --b3: #ffe49a;
  --v1: #ae2012;
  --a1: #ee9b00;
}

html {
  height: 100%;
}

body {
  height: 100%;
  position: relative;
  font-family: Montserrat Alternates;
  background-color: var(--b1);
}

p {
  font-family: Montserrat Alternates;
}

.head {
  display: flex;
  flex-direction: row;
  padding: 40px 20px;
}

.head img {
  width: 48px;
  height: 48px;
  border-radius: 50px;
}

h1 {
  font-size: 24px;
  text-align: center;
  padding-left: 20px;
  display: flex;
  align-items: center;
}

.btn_container {
  padding: 20px;
}

button {
  border: none;
  width: 100%;
  height: 50px;
  background-color: var(--b1);
  font-family: Montserrat Alternates;
  font-size: 16px;
}

button:hover {
  background-color: var(--b2);
}

.container {
  display: flex;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.configs {
  width: 100%;
}

.block1 {
  padding: 40px 20px;
}

.block2 {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  z-index: 1;
}

.homebtns {
  padding: 30px 20px;
  bottom: 0;
  background-color: var(--b1);
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.homebtns .homebtn {
  height: 48px;
  width: 48px;
  border: none;
  background-color: var(--b1);
}

.homebtns .homebtn svg {
  height: 100%;
  width: 100%;
}

.homebtn {
  position: relative;
}

.active::after {
  content: "";
  width: 70%;
  height: 3px;
  background-color: var(--p1);
  position: absolute;
  bottom: -10px;
  left: 15%;
  border-radius: 10px;
}
