@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --laranja: #ee9b00;
  --vermelho: #ae2012;
}

html {
  width: 100vw;
  height: 100vh;
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #fffcf2;
  height: 100%;
  width: 100%;
}

.block1 {
  width: 100%;
  height: 100%;
  background: linear-gradient(0.4turn, var(--vermelho), var(--laranja));
}

.block2 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.continue {
  display: inline;
}

.logo {
  width: 200px;
}

.welcome {
  margin-top: 40px;
  font-family: montserrat;
  font-weight: 400;
  margin-bottom: 20px;
}

.input {
  width: 100%;
  height: 50px;
  margin-top: 40px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  background-color: #fffcf2;
  padding-left: 20px;
  font-family: roboto;
  font-size: 16px;
  font-weight: 400;
  outline: none;
}

.same-line {
  margin-top: 20px;
}

.checkbox {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: #fffcf2;
  border: 1px solid #cccccc;
  margin-right: 10px;
}

.checkbox:checked {
  background-color: #999999c6;
}

.remember {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.remembertext {
  display: flex;
  font-family: roboto;
  font-size: 16px;
  font-weight: 400;
  color: #999999;
}

.reset {
  color: #000000;
  text-decoration: none;
  font-family: montserrat;
  font-weight: 500;
  font-size: 14px;
}

.signin {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(0.25turn, var(--vermelho), var(--laranja));
  color: #fffcf2;
  font-size: 24px;
  font-weight: 700;
  margin-top: 20px;
  transition: 0.2s;
  cursor: pointer;
}

.signin:hover {
  width: 102%;
}

.signup {
  width: 100%;
  font-family: montserrat;
  font-weight: 400;
  font-size: 14px;
  color: #999999;
}

.signuplink {
  text-decoration: underline;
  color: linear-gradient(0.25turn, #00b4d8, #9d4edd);
}

.line {
  margin-top: 40px;
  margin-bottom: 20px;
  width: 100%;
  height: 1px;
  background-color: #d9d9d9;
}

.loginwith {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  margin-top: 20px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  background-color: #fffcf2;
  font-family: roboto;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  cursor: pointer;
}

.continue {
  margin-left: 10px;
}

form {
  width: 100%;
}

@media (max-width: 600px) {
  .block1 {
    display: none;
  }
  body {
    grid-template-columns: 1fr;
  }
}
